main {
	padding-top: 1%;
	padding-bottom: 7%;
	margin: 0 auto;
	width: 1020px;
	background-color: #48d9b9;
	border: 2px solid #359c85;
}

h1 {
	text-align: center;
	font-family: 'Sniglet', cursive;
}

h2 {
	margin-left: 8%;
	font-family: 'Pacifico', cursive;
	color: #133d34;
}

h3 {
	margin-left: 11%;
	font-size: 17px;
	font-family: 'Pacifico', cursive;
	color: #133d34;
}

strong {
	margin-left: 20%;
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
	color: #133d34;
}

.name {
	margin-left: 20%;
	font-size: 32px;
	font-family: 'Indie Flower', cursive;
	color: #133d34;
}

a{
	color: #133d34;
}

a:hover {
	color: yellow;
}

.text {
	margin-left: 20%;
	width: 70%;
	font-size: 25px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	color: #133d34;
}

.foto {
	padding-right: 10%;
	float: right;
}